<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Система выгрузки замечательного отчёта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/resources/common/bootstrap-3.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/common/bootstrap-3.1.0/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/index/css/style.css}"/>
</head>
<body>
<!--Меню-->
<div layout:include="core/menu/menu :: menu-body"></div>

</body>
</html>